@model IEnumerable<Order2Go.Models.Producto>
@using Order2Go.Extensions

@{
    ViewData["Title"] = "Lista de Productos";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>Lista de Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th  >
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th  >
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th  >
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td  >
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td  >
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td >
                <img src="@Html.DisplayFor(modelItem => item.UrlImagen)" class="rounded" width="180" height="200" alt="Iamgen">
              
            </td>
            <td class=" ">
                @if(carrito != null && carrito.Contains(item.Id))
                {
                    
                    <button disabled class="btn btn-outline-danger disabled align-self-center ">En Carrito</button>
                }
                else
                {
                    <a class="btn btn-outline-success align-self-center   " asp-action="GetProductos" asp-controller="Productos" asp-route-idproducto="@item.Id">
                        Añadir a Carrito
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>